{
    "singleQuote": true,
    "arrowParens": "avoid",
    "proseWrap": "always",
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "all",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "semi": true,
    "printWidth": 160,
    "jsxSingleQuote": true
}
